
.icon-play-outline:before { content: '\e800'; } /* '' */
.icon-sort-alphabet:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-left-small:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-eye-off:before { content: '\e80d'; } /* '' */
.icon-gauge:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-undo:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */
.icon-chart-pie:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-dot-3:before { content: '\e815'; } /* '' */
.icon-up-open:before { content: '\e816'; } /* '' */
.icon-spin:before { content: '\e839'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-facebook:before { content: '\f30e'; } /* '' */
